div#contenedor{
	background-color: #CDCDC0;
	width: 1350px;
	height: 2000px;
	margin: -10px 0px -10px -10px;
}
div#encabezado{
	background-color: #626D71;
	width: 1350px;
	height: 100px;
}
div#menuP{
	background-color: #626D71;
	width: 1000px;
	height: 40px;
	margin: -115px 0px 0px 350px;
}
div#logo{
	background-color: #626D71;
	margin: -125px 0px 0px 30px;
}
nav a{
    text-decoration:none;
    color:inherit;
    font-size:30px;
    } 
    nav li{
    display:inline-block;
    width:180px;
    background-color: #626D71;
    border:1px solid inherit;
    text-align:center;
    color:white;
    }
    nav li:hover{
    background-color: white;
    color: black;
    }

div#presentacion{
	background-color: inherit;
	width: 1350px;
	height: 691px;
	margin: -1898px 0px 0px -10px;
}
div#promocionesimg{
 margin: 0px 0px 0px -10px;
}
div#footer{
			background-color: #B38867;
			width: 1350px;
			height: 200px;
			margin: -10px 0px -10px -10px;
			display: flex;
			align-items: center;
		}
		div#sobre{
			background-color: inherit;
			width: 300px;
			height: 150px;
			margin: 0px 0px 0px 40px;
			color: white;
			display: flex;
			align-items: center;
		}
		dt#titulos{
		color: #4B3621;
		}
		dt#titulos:hover{
			color: white;
		}
		font#menu{
		color: #4B3621;
		}
		font#menu:hover{
			color: white;
		}
		div#contactos{
			background-color: inherit;
			margin: 0px 0px 0px 600px;
		}
		a{
			color: inherit;
		}